.container {
  width: 700px;
  height: 28px;
  border-radius: 3.6px 3.6px 3.6px 0 3.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  transition: top 300ms ease-out;
  z-index: 3;

  &.transition {
    top: 4px;
  }

  .text {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 14.4px;
    color: #663A00;
    letter-spacing: -0.48px;
  }

  .icon {
    position: absolute;
    left: 24px;
    height: 16px;
    width: 18px;
  }
}
